In [7]:
import pandas as pd
import numpy as np

c = [1,2,3,4,5]

data = {'A': c[:], 
        'B': [15, 15, 18, np.nan, 12]}

def a():
        df = pd.DataFrame(data)
        display(df)
a()

   A     B
0  1  15.0
1  2  15.0
2  3  18.0
3  4   NaN
4  5  12.0

In [8]:
# PANDAS SERIES
df['A']

   A     B
0  1  15.0
1  2  15.0
2  3  18.0
3  4   NaN
4  5  12.0

NameError: name 'df' is not defined

In [9]:
type(df['A'])

NameError: name 'df' is not defined

In [ ]:
type(df)

In [ ]:
# MEMEERIKSA KESAMAAN DENGAN OPERATOR ==
# INI TIDAK DIREKOMENDASIKAN KARENA TIDAK DAPAT MENDETEKSI NAN
df['A'] == df['B']

In [ ]:
# MEMEERIKSA KESAMAAN DENGAN METHOD equals()
df['A'].equals(df['B'])

In [ ]:
# MEMERIKSA KESAMAAN ANTAR DUA DATA FRAME
df1 = df.copy(deep=True)
df.equals(df1)