In [2]:
import pandas as pd
import numpy as np

n_rows = 5
n_cols = 2
cols = {'bil_pecahan','bil_bulat'}

df = pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)), columns=cols)
df['bil_pecahan'] = df['bil_pecahan'].astype('float')

df.index = pd.util.testing.makeDateIndex(n_rows,freq= 'H')
df = df.reset_index()

df['teks'] = list('ABCDE')

df

c:\Users\Nasrul Wahabi\miniconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                index  bil_bulat  bil_pecahan teks
0 2000-01-01 00:00:00          9         15.0    A
1 2000-01-01 01:00:00          8          7.0    B
2 2000-01-01 02:00:00         16          9.0    C
3 2000-01-01 03:00:00         13          8.0    D
4 2000-01-01 04:00:00         11          2.0    E

In [3]:
# memilih kolom bertipe data numerik
df.select_dtypes(include='number')

   bil_bulat  bil_pecahan
0          9         15.0
1          8          7.0
2         16          9.0
3         13          8.0
4         11          2.0

In [4]:
df.select_dtypes(include='float')

   bil_pecahan
0         15.0
1          7.0
2          9.0
3          8.0
4          2.0

In [ ]:
df.select_dtypes(include='int')

In [ ]:
# memilih kolom bertipe object
df.select_dtypes(include='object')

In [ ]:
# memilih kolom bertipe datetime
df.select_dtypes(include='datetime')

In [1]:
# memilih kolom kombinasi tipe data
df.select_dtypes(include=['number','object'])

NameError: name 'df' is not defined