In [1]:
import pandas as pd
import numpy as np

n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(
    1, 29, size=(n_rows, n_cols)), columns=cols)

df

    A   B   C   D   E
0  26  24   8   5  20
1  26  20  24  28  16
2  22  23  19   2  22
3  17   8  20  27  27
4  18   1  20   6  13
5  23  18  23  21  22
6  28  26  12   2  23
7  14  17  12  18  10
8   7  16   4  25  20
9  27  15  28  17   6

In [ ]:
df.shape

In [ ]:
# membagi data frame menjadi dua secara acak 
# berdasarkan proporsi tertentu
proporsi = 0.7
df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

print(f'df_1 shape :  {df_1.shape}')
print(f'df_2 shape :  {df_2.shape}')

In [ ]:
df_1

In [ ]:
df_2