In [1]:
import pandas as pd
import numpy as np

n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)
df

   A  B  C  D  E
0  9  6  1  3  8
1  5  8  3  3  7
2  3  7  6  9  9
3  9  8  8  8  8
4  1  4  6  8  9

In [2]:
# rename nama kolom
df.rename(columns={'B':'oke'})

   A  oke  C  D  E
0  9    6  1  3  8
1  5    8  3  3  7
2  3    7  6  9  9
3  9    8  8  8  8
4  1    4  6  8  9

In [3]:
# rename banyak nama kolom
df.rename(columns={'A':'owh','C':'sip','E':'lol'})

   owh  B  sip  D  lol
0    9  6    1  3    8
1    5  8    3  3    7
2    3  7    6  9    9
3    9  8    8  8    8
4    1  4    6  8    9