In [1]:
import pandas as pd
import numpy as np

n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)
df

   A  B  C  D  E
0  7  6  2  1  2
1  9  3  5  4  1
2  8  2  4  1  6
3  5  1  1  6  6
4  9  8  8  8  8

In [2]:
# rename nama kolom
df.rename(columns={'B':'oke'})

   A  oke  C  D  E
0  7    6  2  1  2
1  9    3  5  4  1
2  8    2  4  1  6
3  5    1  1  6  6
4  9    8  8  8  8

In [ ]:
# rename banyak nama kolom
df.rename(columns={'A':'owh','C':'sip','E':'lol'})