In [1]:
import pandas as pd
import numpy as np

data = {'A': [15, 15, 18, np.nan, 12], 
        'B': [15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

In [2]:
# PANDAS SERIES
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [3]:
type(df['A'])

pandas.core.series.Series

In [4]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# MEMEERIKSA KESAMAAN DENGAN OPERATOR ==
# INI TIDAK DIREKOMENDASIKAN KARENA TIDAK DAPAT MENDETEKSI NAN
df['A'] == df['B']

In [ ]:
# MEMEERIKSA KESAMAAN DENGAN METHOD equals()
df['A'].equals(df['B'])

In [7]:
# MEMERIKSA KESAMAAN ANTAR DUA DATA FRAME
df1 = df.copy(deep=True)
df.equals(df1)

True